<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sundu.jetpack.datastore.JetPackDataStoreActivity"/>
        <activity android:name=".sundu.jetpack.livedata.JetPackLiveDataActivity" />
        <activity android:name=".sundu.developer.viewpager.ViewPager2Activity" />
        <activity android:name=".sundu.developer.DeveloperActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sundu.kotlin.KotlinActivity"
            android:theme="@style/KotlinTheme" />
        <activity android:name=".sundu.jetpack.workmanager.JetPackWorkManagerActivity" />
        <activity android:name=".sundu.jetpack.JetpackActivity" />
        <activity android:name=".sundu.kotlin.coroutine.KotlinCoroutineActivity" />
    </application>

</manifest>