<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="android"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.demo.sundu.developer.netingscrollview.NestingScrollActivity" />
        <activity android:name=".sundu.developer.netingscrollview.three.CoordinatorLayoutActivity" />
        <activity android:name=".sundu.developer.netingscrollview.one.EventDispatchPlanActivity" />
        <activity android:name=".sundu.developer.netingscrollview.two.NestingScrollActivity" />
        <activity android:name=".sundu.developer.stickyheadrecyclerview.StickyHeadRecyclerViewActivity" />
        <activity android:name=".sundu.developer.recycleview.RecyclerViewActivity" />
        <activity android:name=".sundu.developer.sensor.SenSorActivity" />
        <activity android:name=".sundu.jetpack.databinding.bidirectional.BidirectionalActivity" />
        <activity android:name=".sundu.jetpack.databinding.unidirectional.ObservableActivity"></activity>
        <activity android:name=".sundu.jetpack.databinding.DataBindingTypeControllerActivity"></activity>
        <activity android:name=".sundu.thirdparty.ThirdPartyFrameWorkActivity"></activity>
        <activity android:name=".sundu.thirdparty.rxjava.Rxjava_Activity" />
        <activity android:name=".sundu.custview.SliderView.SliderViewActivity" />
        <activity android:name=".sundu.custview.region.RegionActivity" />
        <activity android:name=".sundu.ontouch.TouchActivity" />
        <activity android:name=".sundu.custview.shimmer.ShimmerActivity" />
        <activity android:name=".sundu.custview.bitmapshader.BitmapShaderTelescopeViewActivity" />
        <activity android:name=".sundu.webview.MyWebViewActivity" />
        <activity android:name=".sundu.custview.beziercurve.dragpop.BezierCurverDragPopActivity" />
        <activity android:name=".sundu.custview.CustomViewActivity" />
        <activity android:name=".sundu.developer.immersive.ImmerSiveActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sundu.kotlin.KotlinActivity" />
        <activity
            android:name=".sundu.developer.nineimageload.NineImgLoadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".sundu.jetpack.datastore.JetPackDataStoreActivity" />
        <activity android:name=".sundu.jetpack.livedata.JetPackLiveDataActivity" />
        <activity android:name=".sundu.jetpack.workmanager.JetPackWorkManagerActivity" />
        <activity android:name=".sundu.jetpack.JetPackActivity" />
        <activity android:name=".sundu.parcelable.ParcelableActivity" />
        <activity android:name=".sundu.jetpack.navigatin.JetPackNavigationActivity" />
        <activity android:name=".sundu.kotlin.coroutine.KotlinCoroutineActivity" />
        <activity android:name=".sundu.developer.viewpager.ViewPager2Activity" />
        <activity android:name=".sundu.developer.DeveloperActivity" />
        <activity android:name=".sundu.recycleview.RecycleViewActivity" />
        <activity android:name=".sundu.custview.downloadview.DownLoadViewActivity" />
        <activity android:name=".sundu.touchevent.MovieLineActivity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
        <service
            android:name=".sundu.jetpack.workmanager.WakeupService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>